@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;    
}

html {
    box-sizing: border-box;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.grid {
    width: 100%;
    max-width: 1290px;
    margin: auto;
}

ul, li {
    list-style-type: none;
}

/* a {
    text-decoration: none;
} */

.spw {
    display: flex;
    justify-content: space-between;
}

.article_YC {
    margin-top: 50px;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 100px;
}
.article_YC > span {
    color: #999999;
}



