
  .container {
    width: 100%;

}


.sidebar__heading {
    font-size: 20px;
    font-weight: 550;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 10px;
}

.sidebar__span, .sidebar__category-item a {
    font-size: 14px;
    font-weight: 300;
}

.sidebar__span a, .sidebar__category-item a{
    color: #000;
}


.sidebar__category-link:hover {
    cursor: pointer;
}

.sidebar__filter-wrapper {
    width: calc(25% - 15px);
}

.sidebar__range-input {
    margin: 23px 0 25px 0;
    width: 100%;
    background-color: #F598A4;
}

.btn { border: #3b5d50;
        height: 46px;
        width: 100px;
    background-color: #3b5d50;
    color: #fff;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
}

.sidebar__filter .spw {


    padding: 8px;
    text-decoration: none;
}

.sidebar__category .sidebar__heading {
    margin-top: 12px;
}

.sidebar__category-item {
    padding: 13px 0;
    border-bottom: #d9d9d9 1px solid;
}

.sidebar__category-item:last-of-type {
    border: unset;
    margin-bottom: 44px;
}

.sidebar__tags {
    display: flex;
    flex-wrap: wrap;
}

.sidebar__tag-item a {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0 4px 4px 0;
    padding: 7px 9px;
    border: 1px solid #ccc;
}

.sidebar__tag-item a {
    color: #000;
}

.sidebar__tags .sidebar__heading {
    margin-bottom: 27px;
}

.image__wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.products {
    width: calc(75% - 15px);
}

.products__heading-left {
    
    height: 48px;
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
    border: 1px #ccc solid;
}

.products__heading-right-select {
    padding: 15px 14px;
    font-size: 14px;
    font-weight: 300;
    border: 1px #ccc solid;
    outline: none;
    margin-bottom: 10px;
}

.products__heading-right-select:first-of-type {
    margin-right: 10px;
}

.products__warpper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.products__item {
    width: calc(33.33% - 15px);
    margin-bottom: 21px;
}

.products__item-img {
    width: 300px;
    height: 300px;
}

.products__item a {
    user-select: none;
    margin-right: 15px;
    margin-left: 15px;
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 14px;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
}

.products__item-name {
    width: 100%;
    color: #000;
    padding: 19px 0 21px 0;
}

.products__item-price {
    width: 100%;
    color: #000;
}

.products__item:hover {
    opacity: 0.7;
    transition: .5s;
}

.products__pagenation {
    margin: 54px 0 60px 0;
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

.products__pagenation-item {
    height: 38px;
    width: 38px;
    border: 1px #ccc solid;
    margin-right: 4px;
}

.products__pagination-link {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.products__pagination-link:hover {
    font-weight: 500;
}

.image__wrapper {
    position: relative;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 266px;
    margin-bottom: 84px;
}

.image__title {
    font-size: 48px;
    font-weight: 500;
}

.image__breadcrum {
    font-size: 14px;
    font-weight: 500;
}

.image__wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}





.range-slider-container {
    width: 90%;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
  }
  #range-value-bar {
    width: 100%;
    content:"0";
    background-color: #3b5d50;
    position: absolute;
    z-index: 10000;
    height: 10px;
    top: 0;
    margin: 0;
    border-radius: 5px;
  }
  #range-value {
    width: 25px;
    content:"0";
    background: rgba(233, 239, 244, 0.1);;
    position: absolute;
    z-index: 10000;
    height: 10px;
    top: -95px;
    margin: 0;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 12px;
    color: #41576B;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
    text-align: center;
    opacity: 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #E9EFF4;
    border-radius: 5px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
    border: 5px solid #FFF;
    height: 23px;
    width: 23px;
    border-radius: 30px;
    background: #3b5d50;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
    position: relative;
    z-index: 1000000000;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #000;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #000000;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #000;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #000;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #000;
    cursor: pointer;
  }
  .button-filter{
    position: relative;
    left: 75px;
}

  .products__heading-right{
    margin-bottom: 20px;
    position: relative;
    bottom:     50px;
    text-align: end;
  }
  @media (max-width: 1030px) {
    .button-filter{
        position: relative;
        right:150px;
    }
    .range-slider-container {
        width: 90%;
    }
    .sidebar__span{
        font-size: 14px;
        position: relative;
        top: 50px;
        right: 20px;
    }

    }


@media (max-width: 700px) {
    .sidebar__span{
        font-size: 14px;
        position: relative;
        top: 10px;
        right: 0px;
    }
    .spw > .products__heading-left{
        display: none;
    }
    .range-slider-container {
        width: 90%;
    }
    .spw > .products__heading-right{
       position: relative;
       top: 5px;
       text-align: center;
    }
    .button-filter{
  
        left: 90px;
    }
}

.image-info{
    width: 80%;
}

.image-info-prod{
    width: 30%;
}

.info-prod{
    width: 70%;
}
.name-info{
    font-size: 17px;
    font-weight: 450;
}

.fa-star{
    color: #F598A4;
}
.info-prod-div
{
    margin-top: 5px;
}